<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/popup_card.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/custom_flash.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
<script src="/javascripts/popup_card.js" defer></script>
<script src="/javascripts/custom_flash.js" defer></script>

</head>
<body>
    <%- include('../partials/navbar')  %> 
    <%- include('../partials/custom_flash') %>
    <%- body %> 
    <%- include('../partials/footer') %> 
</body>

</html>